@page "/map"
@rendermode InteractiveAuto

<MudDialogProvider />


<MudItem xs="12" Class="pt-4">
    <MudText Typo="Typo.h3">Leaflet Map</MudText>
</MudItem>
    @foreach (Locations locations in _locations)
    {
<MudItem>
        <MudBadge Content="@locations.LocationsList.Count" Overlap="true">
            <MudButton Variant="Variant.Outlined" Style="@GetButtonStyle(locations)" OnClick="() => DisplayMarkersAsync(locations)">@locations.Name</MudButton>
        </MudBadge>
</MudItem>
    }
    

<MudItem xs="12">
    <div id="map" style="width: 100%; height: 70vh;"></div>
</MudItem>