@page "/map"
@rendermode InteractiveAuto

<h3>Leaflet Map</h3>
Here's a guide how to implement Leaflet on blazor in .NET 8.
More details on my <a href="https://github.com/Oceanedqn/LeafletMap-.NET-8-Blazor/tree/master">github</a>


<div id="map" style="width: 800px; height: 600px;"></div>
